.main-block-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.container-features {
    min-width: 300px;
    max-width: 300px;
}

.container-characteristic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}