.main-block-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.container-features {
    width: 250px;
}

.container-characteristic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}