<div class="main-block-feature">
	{% for feature in list_feature %}
		<div class="accordion" id="accordion{{ feature.slug }}">
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading{{ feature.slug }}">
					<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapse{{ feature.slug }}"
							aria-expanded="true" aria-controls="collapse{{ feature.slug }}">
						{{ feature.name }}
					</button>
				</h2>
				<div id="collapse{{ feature.slug }}"
					 class="accordion-collapse collapse {% if feature.slug == selected_feature_slug %} show {% endif %}"
					 aria-labelledby="heading{{ feature.slug }}"
					 data-bs-parent="#accordion{{ feature.slug }}">
					<div class="accordion-body">
						{% for sub_feature in feature.sub_feature.all %}
							<a href="" class="list-group-item">
								{% if sub_feature.slug == selected_sub_feature_slug %}*{% else %}
									-{% endif %} {{ sub_feature }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

