{% extends 'base.html' %}

{% load static %}


{% block title %} Список характеристик {% endblock %}

{% block links %}

{% endblock %}

{% block base-content %}
	<div class="d-flex flex-row w-100 m-2 justify-content-center flex-wrap">
		<div class="d-flex flex-column justify-content-start border border-1 col-sm-3 m-2 p-3"
			 style="min-width: 300px">
			<h4> Характеристики</h4>
			<br>

			{% for feature in  features %}
				<p>{{ forloop.counter }}: {{ feature.name }}</p>
			{% endfor %}


			<form class="border border-1 p-3" method="post" enctype="multipart/form-data"
				  action="{% url 'create_feature' %}">
				<div style="color: red">{{ feature_form.non_field_errors }}</div>
				{% csrf_token %}
				{% for input in feature_form %}

					<label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
					<div class="mb-3">{{ input }}</div>

					<div id="{{ input.id_for_label }}help" class="form-text">{{ input.help_text }}</div>
					<div style="color: red">{{ input.errors }}</div>
				{% endfor %}
				<br>
				<div class="d-flex flex-row justify-content-end">
					<button class="btn btn-success" type="submit">Создать</button>
				</div>
			</form>
		</div>

		<div class="d-flex flex-column justify-content-start border border-1 col-sm-3 m-2 p-3"
			 style="min-width: 300px">
			<h4> Подхарактеристики</h4>
			<br>

			{% for sub_feature in  sub_features %}
				<p>{{ forloop.counter }}: {{ sub_feature.name }}</p>
			{% endfor %}
			<form class="border border-1 p-3" method="post" enctype="multipart/form-data"
				  action="{% url 'create_sub_feature' %}">
				<div style="color: red">{{ sub_feature_form.non_field_errors }}</div>
				{% csrf_token %}
				{% for input in sub_feature_form %}

					<label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
					<div class="mb-3">{{ input }}</div>

					<div id="{{ input.id_for_label }}help" class="form-text">{{ input.help_text }}</div>
					<div style="color: red">{{ input.errors }}</div>
				{% endfor %}
				<br>
				<div class="d-flex flex-row justify-content-end">
					<button class="btn btn-success" type="submit">Создать</button>
				</div>
			</form>
		</div>

		<div class="d-flex flex-column justify-content-start border border-1 col-sm-3 m-2 p-3"
			 style="min-width: 300px">
			<h4>Брэнды</h4>
			<br>
			{% for brand in brands %}
				<p>{{ forloop.counter }}: {{ brand.name }}</p>
			{% endfor %}
			<form class="border border-1 p-3" method="post" enctype="multipart/form-data"
				  action="{% url 'create_brand' %}">
				<div style="color: red">{{ feature_form.non_field_errors }}</div>
				{% csrf_token %}
				{% for input in feature_form %}
					<label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
					<div class="mb-3">{{ input }}</div>

					<div id="{{ input.id_for_label }}help" class="form-text">{{ input.help_text }}</div>
					<div style="color: red">{{ input.errors }}</div>
				{% endfor %}
				<br>
				<div class="d-flex flex-row justify-content-end">
					<button class="btn btn-success" type="submit">Создать</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
