{% extends 'base.html' %}
{% load static %}


{% block title %} Вход {% endblock %}

{% block links %}
	<link href="{% static 'account/css/style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block base-content %}
	<div class="base-content-login">
		<h1>Вход</h1>
		<form method="post" enctype="multipart/form-data">
			<div style="color: red">{{ form.non_field_errors }}</div>
			{% csrf_token %}
			{% for input in form %}

				<label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
				<div class="mb-3">{{ input }}</div>

				<div id="{{ input.id_for_label }}help" class="form-text">{{ input.help_text }}</div>
				<div style="color: red">{{ input.errors }}</div>
			{% endfor %}
			<br>
			<button class="btn btn-primary col-2 " type="submit">Отправить</button>

		</form>
	</div>

{% endblock %}





