{% extends 'base.html' %}
{% load static %}
{% block title %} Регистрация {% endblock %}
{% block links %}
	<link href="{% static 'css/accounts/style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block base-content %}
	<div class="base-content-register">
		<h1>Регистрация</h1>
		<p>Обязательные поля отмечены звездочкой *</p>
		<form class="my_forms form_registration" method="post" enctype="multipart/form-data">
			<div style="color: red">{{ form.non_field_errors }}</div>
			{% csrf_token %}
			{% for input in form %}
				<!--для того что бы звездочки не выводились, над полями которые не обязательны!-->
				{% if input == form.firstname or input == form.lastname %}
					<label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
				{% else %}
					<label for="{{ input.id_for_label }}" class="form-label">{{ input.label }} *</label>
				{% endif %}
				<div class="mb-3">{{ input }}</div>

				<div id="{{ input.id_for_label }}help" class="form-text">{{ input.help_text }}</div>
				<div style="color: red">{{ input.errors }}</div>
			{% endfor %}
			<br>
			<button class="btn btn-success " type="submit">Отправить</button>

		</form>
	</div>
{% endblock %}





