.base-navbar {
    background-color: beige;
}

.container-logo-common-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.container-logo {
    padding: 10px 10px 10px 10px;
}

.common-navbar {
    display: flex;
    flex-direction: column;
}

.navbar-top, .navbar-bottom {
    display: flex;
    width: 100%;
    padding: 5px 0 5px 0;
}


.navbar-top {
    justify-content: space-between;

}

.flex-start {
    display: flex;
    align-self: start;
    width: max-content;

}

.flex-center {
    display: flex;
    align-self: center;
}

.form-search-product {
    width: 30vw;
}

.flex-end {
    display: flex;
    justify-content: start;
    align-self: end;
    min-width: 300px;
}


#navbarSupportedContent {
    flex-direction: column;
}

.base-content {
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}


.main-content_common {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;

}


.base-footer {
    background-color: beige;
    height: 500px;
    width: 100%;
}