.home-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}


.container-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
}

.list-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}


.main-block-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


.container-card-product {
    width: 322px;
    padding-left: 3px;
    padding-right: 3px;
}

.card-group {
    justify-content: flex-end;
}

.content-detail-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    padding: 10px;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    text-align: -webkit-center;
}

.container-images-detail-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    min-width: 450px;
}

.container_image {
    width: 50%;
}

.container_detail {
    width: 50%;
    padding: 10px 10px 10px 20px;
}

.container-action {
    display: flex;
    flex-direction: column;

}


.carousel-control-prev,
.carousel-control-next {
    width: 50%;
}


.container-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-features-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


