.home-main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
}


.container-products-category {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-characteristic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
}

.container-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
}

.list-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}


.main-block-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


.container-card-product {
    width: 323px;
    padding-left: 3px;
    padding-right: 3px;
}

.content-detail-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-images-detail-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-width: 450px;
}


.container-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-features-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
