{% extends 'base.html' %}

{% load static %}


{% block links %}
	<link rel="stylesheet" href="{% static 'products/style.css' %}">
{% endblock %}

{% block title %}
	Главная
{% endblock %}



{% block base-content %}
	<div class="home-main-container">


		<div class="container-features">
			{% load list_features %}
			{% get_features %}
		</div>


		<div class="container-products-category">

			<div class="container-category">
				{% load list_category %}
				{% get_categories selected_sub_category_slug %}
			</div>

			<div class="container-products">
				{% include 'inc/products/_list_products.html' %}
			</div>
		</div>
	</div>


{% endblock %}
