<form method="get" style="width: 300px">
<h6>Фильтры</h6>

	{% for input in  filter.form %}
		{% if input.name == 'sort_by' %}
			<div class="my-3">
				{{ input.label }}
				{{ input }}
			</div>
		{% endif %}


		{% if input.name == 'brand' %}
			<div class="my-3">

				{{ input.label }}
				{% for choice_id, choice_label in input.field.choices %}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="{{ input.name }}" value="{{ choice_id }}"
							   id="{{ input.auto_id }}_{{ forloop.counter }}"
							   {% if choice_id|stringformat:"s" in input.value %}checked{% endif %}>
						<label class="form-check-label" for="{{ input.auto_id }}_{{ forloop.counter }}">
							{{ choice_label }}
						</label>
					</div>
				{% endfor %}
			</div>
		{% endif %}



		{% if input.name == 'price' %}
			<div class="my-3">

				{% for widget in input %}
					<div class="form-group d-flex flex-row justify-content-start">
						{{ widget }}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}



	<div class="d-flex flex-row justify-content-between py-2">
		<button class="btn btn-success" type="submit">Применить</button>
		<a class="btn btn-secondary" href="{% url 'home' %}">Сбросить</a>
	</div>


</form>
{#name: Имя поля, которое соответствует ключу в словаре данных формы.#}

{#value(): Возвращает текущее значение поля формы.#}

{#errors: Список ошибок, связанных с этим полем, если они есть.#}

{#label: Метка поля, которая обычно отображается в форме рядом с полем ввода.#}

{#label_tag: Возвращает HTML-тег метки для поля, который можно настроить.#}

{#id_for_label: Возвращает идентификатор, который используется в HTML-теге label для ассоциации с полем ввода.#}


{#as_widget(widget, attrs=None): Рендерит поле с использованием указанного виджета. Вы можете передать дополнительные атрибуты через attrs.#}

{#as_hidden(): Рендерит поле как скрытый элемент ввода.#}

{#as_text(): Рендерит поле как текстовый элемент ввода.#}

{#as_textarea(attrs=None): Рендерит поле как элемент <textarea>, куда можно передать дополнительные атрибуты через attrs.#}

{#field.choices: Для полей с выбором (например, ChoiceField, ModelChoiceField) возвращает кортежи выборов, доступных для этого поля.#}

{#field.required: Указывает, является ли поле обязательным для заполнения.#}

{#field.help_text: Возвращает текст справки, связанный с полем.#}

{#field.widget: Виджет, используемый для рендеринга поля в HTML.#}
