{% extends 'base.html' %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}

{% block base-content %}


	<div class="content-detail-product">
		<p class="align-self-center">Наименование: {{ product }}</p>

		<div class="container-images-detail-product">
			<div class="container_image">
				<div id="carouselExampleIndicators" class="carousel slide ">
					<div class="carousel-inner d-flex align-items-center">
						{% for image in product.images.all %}
							{% if forloop.first %}
								<div class="carousel-item active">
									<img src="{{ MEDIA_URL }}{{ image }}" class="d-block w-75" alt="{{ image }}">
								</div>
							{% else %}
								<div class="carousel-item">
									<img src="{{ MEDIA_URL }}{{ image }}" class="d-block w-75" alt="{{ image }}">
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Предыдущий</span>
					</button>

					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Следующий</span>
					</button>
				</div>
			</div>
			<div class="container_detail">
				<div class="container-action">
					<p>Производитель: {{ product.brand }}</p>
					<p>Цена: {{ product.price }}</p>
					<p>Наличие: {{ product.availability }}</p>
					<a href="#">Рейтинг: В разработке</a>
					<a href="#">Отзывы: В разработке</a>
					<div class="inline-group mt-5">
						<form action="{% url 'add_product_to_card' product.slug %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="product_slug" value="{{ product.slug }}">
							<input type="hidden" name="quantity" value="1" min="1">
							<button class="btn btn-success" type="submit">Добавить в корзину</button>
						</form>

					</div>
				</div>
			</div>
		</div>
		<hr>

		<div class="container-features">
			<p>Характеристики</p>
			<hr>
			<div class="container-description">
				<p>Описание: {{ product.description }}</p>
			</div>
			<hr>

			<div class="container-features-table">
				<table class="table">
					<tbody>
					{% for feature, sub_features in features.items %}
						<tr>
							<th colspan="2">{{ feature.name }}</th>
						</tr>
						{% for item in sub_features %}
							<tr>
								<td>{{ item.sub_feature.name }}:</td>
								<td>{{ item.value }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>


{% endblock %}