{% load static %}
<nav class="navbar navbar-expand-lg ">
	<div class="container-fluid">

		{#      Для мобильной версии  #}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container-logo-common-navbar">
				<div class=container-logo">
					<img src="{% static 'images/Logo.png' %}" style="width: 100px" alt="Logo">
				</div>
				<div class="common-navbar">
					{#     Верхний навбар   #}
					<div class="navbar-top">
						<div class="flex-start">
							{#      Главная   #}
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
								</li>
							</ul>
						</div>
						<div class="flex-center">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">

								{#      Поиск   #}
								<li class="nav-item">
									<form class="d-flex form-search-product" action="{% url 'home' %}" role="search">
										<input id="search-product" name="search-product" class="form-control me-2"
											   type="search"
											   placeholder="Поиск" aria-label="Поиск">
										<button class="btn btn-outline-success" type="submit">Поиск</button>
									</form>
								</li>
							</ul>
						</div>
						<div class="flex-end"></div>

					</div>
					{#     Нижний навбар   #}
					<div class="navbar-bottom">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							{#      Каталог   #}
							<li class="nav-item">
								{% load catalog_tag %}
								{% show_catalog %}
							</li>


						</ul>
					</div>
				</div>
			</div>


		</div>
	</div>
</nav>