{% if page_obj.has_other_pages %}
	<nav id='number_pages' class="mx-4 my-4">
		<ul class="pagination pagination justify-content-center">
			{% if page_obj.has_previous %}

				{% if page_obj.number > 3 %}
					<li class="page-item"><a class="page-link mx-3" href="?page={{ page_obj.paginator.first }}"> 1 </a>
					</li>
				{% endif %}
				<li class="page-item"><a class="page-link mx-3" href="?page={{ page_obj.previous_page_number }}"><</a>
				</li>
			{% endif %}
			{% for p in page_obj.paginator %}
				{% if page_obj.number != p.number and page_obj.number|add:"2" >= p.number and page_obj.number|add:"-2" <= p.number %}
					<li class="page-item"><a class="page-link" href="?page={{ p.number }}">{{ p.number }}</a></li>
				{% elif page_obj.number == p.number %}
					<li class="page-item active " aria-current="page"><a class="page-link "
																		 href="?page={{ p.number }}">{{ p.number }}</a>
					</li>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link mx-3" href="?page={{ page_obj.next_page_number }}"> > </a>
				</li>
				{% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
					<li class="page-item"><a class="page-link mx-3 px-3"
											 href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</nav>
{% endif %}

